@{
// ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
    @{
        var msdevuk = "@msdevuk";
    }
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link href="/4e4476d1.favicon.ico"
          rel="shortcut icon">
    <title>Microsoft Web Platform Day | Let's Dev This</title>
    <meta name="description" content="A day long event about the Microsoft Web Platform delivered by Martin Beeby and Martin Kearn.">
    <meta name="robots" content="noindex, nofollow"><!-- SOCIAL META -->
    <meta content="Microsoft Web Platform Day" property="og:title">
    <meta content="Microsoft Web Platform Day" property="og:site_name">
    <meta content="Microsoft Web Platform Day" property="og:description">
    <meta content="http://mswebday.azurewebsites.net" property="og:url">
    <meta content="http://mswebday.azurewebsites.net/index_files/microsoftwebplatformday.png" property="og:image">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@msdevuk">
    <meta name="twitter:title" content="Microsoft Web Platform Day">
    <meta name="twitter:description" content="A full day dedicated to web development from a
                                                Microsoft perspective.">
    <meta name="twitter:image" content="/images/websummit2015/project-spartan-devices-fb.png">
    <!-- EDGECORE STYLES -->
    <link href="index_files/cedd974c.summit2015.css" rel="stylesheet">
</head>
<body>
    <div class="bg-wrap">
        <header class="section section--image-banner section--summit-intro"
                role="banner">
            <div class="image-banner__background">
                <img class="image-banner__background__image"
                     alt="Photo of the Open day venue" src="index_files/building-banner-xl.jpg">
            </div>
            <div class="container">
                <div class="tile image-banner__tile summit-intro__tile">
                    <div class="summit-intro__tile__body">
                        <img alt="The Microsoft Web Platform Day" src="index_files/titlewebplatform.jpg" />
                        <h2>
                            Next Event: <br />Brighton, Tuesday August 25th 2015<br>
                        </h2>
                        <div class="actions">
                            <a class="button button--page-primary" href="https://msevents.microsoft.com/CUI/EventDetail.aspx?EventID=1032629091&Culture=en-GB&community=0" onclick="ga('send', 'event', 'Registration', 'Click Hero', 'Click Hero Button', 1);">Register</a>
                        </div>
                    </div>
                    <div class="tile__bar summit-intro__tile__bar">
                        <ul class="summit-intro__tile__nav">
                            <li>
                                <a href="#about-the-summit"
                                   data-target="about-the-summit" data-scroll="">About</a>
                            </li>
                            <li>
                                <a href="#locations" data-target="locations"
                                   data-scroll="">Locations</a>
                            </li>
                            <li>
                                <a href="#sessions" data-target="sessions"
                                   data-scroll="">Speakers</a>
                            </li>
                            <li>
                                <a href="#schedule" data-target="schedule"
                                   data-scroll="">Schedule</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <div class="content" role="main">
            <!-- ABOUT --><section class="section section--about-summit"
                                   id="about-the-summit" role="region">
                <div class="container">
                    <div class="section__body">
                        <div class="layout layout--basic">
                            <div class="module module--secondary about-summit__secondary">
                                <h2 class="heading">About the Microsoft Web Platform Day </h2><img alt="Screenshots of the Microsoft Edge browser on a mobile phone and desktop"
                                                                                                   src="index_files/project-spartan-devices.jpg">
                            </div>
                            <div class="module module--primary about-summit__primary">
                                <div class="layout layout--halves">
                                    <ul class="list--about-summit">
                                        <li class="module">
                                            <h3 class="about-summit__title">Full Day Event</h3>
                                            <p class="about-summit__description">
                                                A full day dedicated to web development from a
                                                Microsoft perspective.  In the morning we
                                                will look at what’s happing in ASP.NET, Edge,
                                                Visual Studio and Azure and how you can use
                                                new capabilities to build better websites and Webapps.

                                                Then in the afternoon we will look at ways
                                                in which we can build faster, slicker and
                                                better forming websites and web apps using
                                                modern web development techniques.

                                            </p>
                                        </li>
                                        <li class="module">
                                            <h3 class="about-summit__title">Live Code and Demos</h3>
                                            <p class="about-summit__description">
                                                The day will consist of 9 presentations which
                                                will cover all aspects of current and future
                                                web development techniques. We will be building
                                                a web app throughout the day to show you can
                                                use these techniques in the real world.
                                            </p>
                                        </li>
                                        <li class="module">
                                            <h3 class="about-summit__title">See what’s new</h3>
                                            <p class="about-summit__description">Expect Session to dive deep into detail on what's new in JavaScript and Web Development</p>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!-- FOCUS AREAS --><section class="section section--focus" id="focus-areas" role="region">
                <div class="subsection">
                    <div class="subsection__subheader">
                        <div class="container">
                            <h2>What you’ll learn</h2>
                        </div>
                    </div>
                    <div class="subsection__body">
                        <div class="focus-areas">
                            <div class="container">
                                <div class="focus-areas__bar">
                                    <div class="tile focus-areas__bar__tile">
                                        <div class="focus-areas__bar__tile__content">
                                            <h3>
                                                What’s new in ASP.Net, Edge and the Microsoft platform as a whole.
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="tile focus-areas__bar__tile">
                                        <div class="focus-areas__bar__tile__content">
                                            <h3>
                                                How to build blazing-fast sites and apps using JavaScript without breaking
                                                the web
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="tile focus-areas__bar__tile">
                                        <div class="focus-areas__bar__tile__content">
                                            <h3>
                                                How to use the cloud to build highly scalable appliactions.
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="tile focus-areas__bar__tile">
                                        <div class="focus-areas__bar__tile__content">
                                            <h3>
                                                What's next in Web development, and what new features will we be using.
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!-- REGISTER -->
            <!-- LOCATION --><section class="section section--banner section--summit-location"
                                      id="locations" role="region">
                <div class="container">
                    <div class="section__header">
                        <h2>Locations</h2>
                    </div>
                    <div class="section__body">
                        <table class="summit-schedule__panel__table">
                            <thead>
                                <tr>
                                    <th scope="col">Date</th>
                                    <th scope="col">City</th>
                                    <th scope="col">Location</th>
                                    <th scope="col">Registration</th>
                                </tr>
                            <tbody>
                                <tr>
                                    <td scope="row">Tuesday 25th August 2015</td>
                                    <td>
                                        Brighton
                                    </td>
                                    <td class="cell--social">
                                        Old Ship Hotel
                                    </td>
                                    <td>
                                        <a href="#">Coming Soon</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="row">Thursday 24th September 2015</td>
                                    <td>
                                        Manchester
                                    </td>
                                    <td class="cell--social">
                                        MacDonald Hotel
                                    </td>
                                    <td>
                                        <a href="#">Coming Soon</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="row">Tuesday 13 October 2015</td>
                                    <td>
                                        Birmingham
                                    </td>
                                    <td class="cell--social">
                                        Maple House
                                    </td>
                                    <td>
                                        <a href="#">Coming Soon</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="row">Tuesday 24th November 2015</td>
                                    <td>
                                        London
                                    </td>
                                    <td class="cell--social">
                                        ETC Victoria
                                    </td>
                                    <td>
                                        <a href="#">Coming Soon</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="row">Tuesday 8th December 2015</td>
                                    <td>
                                        Nottingham
                                    </td>
                                    <td class="cell--social">
                                        Park Plaza
                                    </td>
                                    <td>
                                        <a href="#">Coming Soon</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </section><!-- SESSIONS --><section class="section section--summit-sessions"
                                                id="sessions" role="region">
                <div class="container">
                    <div class="subsection__header">
                        <h2>Speakers</h2>
                    </div>
                    <div class="subsection__body">
                        <div class="layout layout--halves">
                            <div class="module session">
                                <div class="session__avatars clear">
                                    <div class="avatar session__avatar">

                                        <img alt="Image of speaker, Martin Kearn"
                                             src="index_files/martin-kearn-md.jpg">
                                    </div>
                                </div>
                                <div class="session__content">
                                    <h3 class="session__title">Martin Kearn</h3>
                                    <p class="subtitle session__presenters">
                                        <a title="Twitter account for speaker, Martin Kearn"
                                           href="https://twitter.com/martinkearn">Twitter</a>,
                                        <a title="Blog for speaker, Martin Kearn"
                                           href="http://blogs.msdn.com/martinkearn/">Blog</a>
                                    </p>
                                    <p class="session__description">
                                        Martin Kearn is a web developer at Microsoft who helps partners build apps and sites.
                                        <br /><br />
                                    </p>
                                </div>
                            </div>

                            <div class="module session">
                                <div class="session__avatars clear">
                                    <div class="avatar session__avatar">

                                        <img alt="Image of speaker, Martin Kearn"
                                             src="index_files/martin-beeby-md.jpg">
                                    </div>
                                </div>
                                <div class="session__content">
                                    <h3 class="session__title">Martin Beeby</h3>
                                    <p class="subtitle session__presenters">
                                        <a title="Twitter account for speaker, Martin Beeby"
                                           href="https://twitter.com/thebeebs">Twitter</a>,
                                        <a title="Blog for speaker, Martin Kearn"
                                           href="http://thebeebs.co.uk">Blog</a>
                                    </p>
                                    <p class="session__description">
                                        Martin Beeby works for Microsoft where he talks to developers about HTML5, Windows 8 and the web. Martin has been developing since he was 16 and over the past 16 years has worked on projects with many Major brands
                                        <br /><br />
                                        Martin has written articles for, and been featured in, .NET Magazine, ZDNet, the Microsoft Developer Network, Ubelly.com and Windows Magazine.

                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>

            <!-- SCHEDULE --><section class="section section--banner section--summit-schedule" id="schedule" role="region">
                <div class="container">
                    <div class="section__header">
                        <h2>Schedule</h2>
                        <h3>Session times subject to change.</h3>
                    </div>
                    <table class="summit-schedule__panel__table">
                        <tr>
                            <td scope="row">8:30 – 9:00</td>
                            <td class="cell--social" colspan="3">Registration</td>
                        </tr>
                        <tr>
                            <td scope="row">9:00 - 9:30  </td>
                            <td class="cell--social" colspan="2">
                                Microsoft Web Platform in 30 minutes
                            </td>
                            <td class="cell--social" colspan="1">
                                Martin Beeby
                            </td>
                        </tr>
                        <tr>
                            <td scope="row">9:30 - 10:15 </td>
                            <td class="cell--social" colspan="2">
                                What's New in ASP.Net 5
                            </td>
                            <td class="cell--social" colspan="1">
                                Martin Beeby
                            </td>
                        </tr>
                        <tr>
                            <td scope="row">10:15 - 11:00 </td>
                            <td class="cell--social" colspan="2">
                                Building APIs
                            </td>
                            <td class="cell--social" colspan="1">
                                Martin Kearn
                            </td>
                        </tr>
                        <tr>
                            <td scope="row">11:00 - 11:15 </td>
                            <td class="cell--social" colspan="3">Break </td>
                        </tr>
                        <tr>
                            <td scope="row">11:15 - 12:00  </td>
                            <td class="cell--social" colspan="2">The Real-time Web</td>
                            <td class="cell--social" colspan="1">Martin Beeby </td>
                        </tr>
                        <tr>
                            <td scope="row">12:00 - 12:45</td>
                            <td class="cell--social" colspan="2">Running Apps in Azure</td>
                            <td class="cell--social" colspan="1">Martin Kearn </td>
                        </tr>
                        <tr>
                            <td scope="row">12:45 - 13:30   </td>
                            <td class="cell--social" colspan="3">Lunch Break </td>
                        </tr>
                        <tr>
                            <td scope="row">13:30 - 14:15     </td>
                            <td class="cell--social" colspan="2">What's New in JavaScript</td>
                            <td class="cell--social" colspan="1">Martin Beeby</td>
                        </tr>
                        <tr>
                            <td scope="row">14:15 - 15:00     </td>
                            <td class="cell--social" colspan="2">Building with JavaScript Task Runners </td>
                            <td class="cell--social" colspan="1">Martin Kearn</td>
                        </tr>
                        <tr>
                            <td scope="row">15:00 - 15:15      </td>
                            <td class="cell--social" colspan="3">Afternoon Break  </td>
                        </tr>
                        <tr>
                            <td scope="row">15:15 - 16:00       </td>
                            <td class="cell--social" colspan="2">Single Page Applications </td>
                            <td class="cell--social" colspan="1">Martin Beeby </td>
                        </tr>
                        <tr>
                            <td scope="row">16:00 - 16:45       </td>
                            <td class="cell--social" colspan="2">Web Performance </td>
                            <td class="cell--social" colspan="1">Martin Kearn </td>
                        </tr>
                        <tr>
                            <td scope="row">16:45 - 17:00</td>
                            <td class="cell--social" colspan="3">Closing </td>
                        </tr>
                    </table>
                </div>
            </section>
            <!-- FAQ -->
            <!-- CONNECT -->

        </div>
    </div><footer class="footer" role="contentinfo">
        <div class="container">
            <small class="copyright caption">
                © 2015
                Microsoft
            </small>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

</body>
</html>

