<!DOCTYPE html>
<html lang="en">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>JavaScript Open Day London | June 26th, 2015</title>
    <meta name="description" content="JavaScript Open day is a full day event all about JavaScript and the Web presented by Microsoft Edge.">
    <meta name="robots" content="noindex, nofollow"><!-- SOCIAL META -->
    <meta content="JavaScript Open Day London | June 26th, 2015" property="og:title">
    <meta content="JavaScript Open Day London" property="og:site_name">
    <meta content="JavaScript Open day is a full day event all about JavaScript and the Web presented by Microsoft Edge. We will have 7 expert speakers from the Web Community speaking about all aspects of JavaScript development, from ES6 and cutting edge client side development through to JS on the server."
          property="og:description">
    <meta content="http://javascriptopenday.azurewebsites.net" property="og:url">
    <meta content="/images/social.jpg" property="og:image">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@@msdevuk">
    <meta name="twitter:title" content="JavaScript Open Day">
    <meta name="twitter:description" 
          content="JavaScript Open day is 
          a full day event all about JavaScript 
          and the Web presented by Microsoft Edge. 
          We will have 7 expert speakers from the 
          Web Community speaking about all aspects 
          of JavaScript development, from ES6 
          and cutting edge client side
           development through to JS
           on the server.
">
    <meta name="twitter:image" content="/images/social.jpg">
    <link href="css/openday.css" rel="stylesheet">
</head>
<body>
    <div class="bg-wrap">
        <header class="section section--image-banner section--summit-intro"
                role="banner">
            <div class="image-banner__background">
                <img class="image-banner__background__image"
                     alt="Photo of the Open day venue" src="images/building-banner-xl.jpg">
            </div>
            <div class="container">
                <div class="tile image-banner__tile summit-intro__tile">
                    <div class="summit-intro__tile__body">
                        <h1>JavaScript Open Day</h1>
                        <h2>
                            June 26th, 2015<br>St. James Theatre, London<br>
                            8.30am registration for 9.30am start - 5.30 pm
                        </h2>
                        <div class="actions">
                            <a class="button button--page-primary" href="https://msevents.microsoft.com/CUI/EventDetail.aspx?EventID=1032629091&Culture=en-GB&community=0" onclick="ga('send', 'event', 'Registration', 'Click Hero', 'Click Hero Button', 1);">Register</a>
                        </div>
                    </div>
                    <div class="tile__bar summit-intro__tile__bar">
                        <ul class="summit-intro__tile__nav">
                            <li>
                                <a href="#about-the-summit"
                                   data-target="about-the-summit" data-scroll="">About</a>
                            </li>
                            <li>
                                <a href="#location" data-target="location"
                                   data-scroll="">Location</a>
                            </li>
                            <li>
                                <a href="#sessions" data-target="sessions"
                                   data-scroll="">Sessions</a>
                            </li>
                            <li>
                                <a href="#schedule" data-target="schedule"
                                   data-scroll="">Schedule</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <div class="content" role="main">
            <!-- ABOUT --><section class="section section--about-summit"
                                   id="about-the-summit" role="region">
                <div class="container">
                    <div class="section__body">
                        <div class="layout layout--basic">
                            <div class="module module--secondary about-summit__secondary">
                                <h2 class="heading">About the JavaScript Open Day</h2><img alt="Screenshots of the Microsoft Edge browser on a mobile phone and desktop"
                                                                                           src="images/project-spartan-devices.jpg">
                            </div>
                            <div class="module module--primary about-summit__primary">
                                <div class="layout layout--halves">
                                    <ul class="list--about-summit">
                                        <li class="module">
                                            <h3 class="about-summit__title">Full Day Event</h3>
                                            <p class="about-summit__description">
                                                JavaScript Open day is a full day event all about JavaScript and the Web presented by Microsoft Edge. Registration opens at 8.30am, keynote kicks off at 9.30am and sessions finish at 4.30pm.
                                            </p>
                                        </li>
                                        <li class="module">
                                            <h3 class="about-summit__title">World Class Speakers</h3>
                                            <p class="about-summit__description">
                                                We will have 7 expert speakers from the Web Community speaking about all aspects of JavaScript development, from ES6 and cutting edge client side development through to JS on the server.
                                            </p>
                                        </li>
                                        <li class="module">
                                            <h3 class="about-summit__title">See what’s new</h3>
                                            <p class="about-summit__description">Expect Session to dive deep into detail on what's new in JavaScript and Web Development</p>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!-- FOCUS AREAS --><section class="section section--focus" id="focus-areas" role="region">
                <div class="subsection">
                    <div class="subsection__subheader">
                        <div class="container">
                            <h2>What you’ll learn</h2>
                        </div>
                    </div>
                    <div class="subsection__body">
                        <div class="focus-areas">
                            <div class="container">
                                <div class="focus-areas__bar">
                                    <div class="tile focus-areas__bar__tile">
                                        <div class="focus-areas__bar__tile__content">
                                            <h3>
                                                What’s new from the Microsoft Edge team: EdgeHTML, Chakra, and
                                                Modern.IE
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="tile focus-areas__bar__tile">
                                        <div class="focus-areas__bar__tile__content">
                                            <h3>
                                                How to build blazing-fast sites and apps using JavaScript without breaking
                                                the web
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="tile focus-areas__bar__tile">
                                        <div class="focus-areas__bar__tile__content">
                                            <h3>
                                                How to use Machine Learning inside of your JavaScript applications.
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="tile focus-areas__bar__tile">
                                        <div class="focus-areas__bar__tile__content">
                                            <h3>
                                                What's next in Web development, and what new features will we be using.
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!-- REGISTER -->
            <!-- LOCATION --><section class="section section--banner section--banner--light section--summit-location"
                                      id="location" role="region">
                <div class="container">
                    <div class="section__header">
                        <h2>Location</h2>
                    </div>
                    <div class="section__body">
                        <div class="layout layout--equal">
                            <div class="module">
                                <img class="summit-location__image" alt="St James Theatre London"
                                     src="images/venue-md.jpg">
                            </div>
                            <div class="module">
                                <h3>Venue</h3>
                                <p class="vcard summit-address">
                                    <span class="adr">
                                        <span class="street-address"><a href="http://www.stjamestheatre.co.uk/">St James Theatre</a><br>12 Palace Street,</span><br><span class="locality">London</span>, <span class="postal-code">SW1E 5JA</span>
                                    </span>
                                </p>
                                <p>Food will be provided</p>
                                <p>
                                    Please note that secured personal storage is not available―please plan to
                                    keep your belongings on your person.
                                </p>
                            </div>
                            <div class="module">
                                <h3>Getting there</h3>
                                <p>
                                    <b>By Tube</b>
                                    <br />
                                    The nearest tube station is Victoria.
                                    We are situated within a 5 minute walk
                                    of the station.
                                </p>
                                <p>
                                    Victoria Station is easily accessible
                                    from the District, Circle and Victoria lines.
                                </p>
                                <p>
                                    <b>By Bus</b>
                                    <br />
                                    Routes 16, 38, 52, 73, 82, 42, 148 all pass near the theatre
                                </p>
                                <p>
                                    <b>Parking</b>
                                    <br />
                                    The nearest off-street parking to the theatre is,<br /><br />
                                    London Victoria<br />
                                    NCP, Semley Place<br />
                                    London SW1W 9QL
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </section><!-- SESSIONS --><section class="section section--summit-sessions"
                                                id="sessions" role="region">
                <div class="container">
                    <div class="subsection__header">
                        <h2>Sessions</h2>
                    </div>
                    <div class="subsection__body">
                        <div class="layout layout--halves">

                            <div class="module session">
                                <div class="session__avatars clear">
                                    <div class="avatar session__avatar">
                                        <img alt="Image of speaker, chrisheilmann"
                                             src="images/chris-heilmann-md.jpg">
                                    </div>
                                </div>
                                <div class="session__content">
                                    <h3 class="session__title">Innovation vs. Impatience</h3>
                                    <p class="subtitle session__presenters">
                                        <a title="Twitter account for speaker, Christian Heilmann"
                                           href="https://twitter.com/codepo8">Christian Heilmann</a>
                                    </p>
                                    <p class="session__description">
                                        Chris Heilmann has dedicated a lot of his time making the web better. Originally coming from a radio journalism background, he built his first web site from scratch around 1997 and spent the following years working on lots of large, international web sites. He then spent a few years in Yahoo building products and explaining and training people including Yahoo Answers, Search, Local and Maps. He then worked at Mozilla moving HTML5 support forward and advocating Firefox OS as an open alternative to closed mobile systems. Chris wrote two and contributed to eight books on web development and wrote many articles and hundreds of blog posts for Ajaxian, Smashing Magazine, Yahoo, Mozilla, ScriptJunkie and many more. He also wrote the Developer Evangelism Handbook in use in many companies to coach evangelists.<br /><br />
                                        <p><b>Abstract:</b> JavaScript is one of the most powerful things of the web. It is not only a language to write functionality in, but it also has been a way to bring upcoming technology to browsers of now without waiting for them to support it. This is a double-sided sword, and in this talk Chris Heilmann of Microsoft will remind us of the dangers and the benefits of JavaScript. Just because we can doesn’t mean we should. On the other hand, it makes sense to give developers now what comes next to test and find use cases. It’s a tricky tight-rope walk, but well worth it.</p>
                                    </p>
                                </div>
                            </div>
                            <div class="module session">
                                <div class="session__avatars clear">
                                    <div class="avatar session__avatar">
                                        <img alt="Image of speaker, Amy Nicholson"
                                             src="images/amy-nicholson-md.jpg">
                                    </div>
                                </div>
                                <div class="session__content">
                                    <h3 class="session__title">Predicting the Future with Azure Machine Learning</h3>
                                    <p class="subtitle session__presenters">
                                        <a title="Twitter account for speaker, Amy Nicholson"
                                           href="https://twitter.com/AmyKateNicho">Amy Nicholson</a>
                                    </p>
                                    <p class="session__description">
                                        Amy is a Cloud Technical Evangelist at Microsoft UK. She is passionate about Data Science and Machine Learning, and is always keen to share experiences and expertise with like-minded individuals and organisations. She blogs, presents and you’ll find her online at TechNet and Techdays Online, as well as in person at events like the Data Culture series and Devoxx UK.
                                    <p>
                                        <b>Abstract:</b> In 1922, physicist Niels Bohr said “making predictions is very difficult, 
                                        especially about the future”. Making predictions is still difficult, however now with 
                                        cloud computing, the huge amounts of data available and new innovative tools, the power 
                                        to make predictions is available for everyone to add intelligence to their applications. 
                                        By looking for the tiniest, subtlest patterns embedded in masses of data from the past, 
                                        we can derive the probability of something happening in the future. Understand how we can 
                                        “teach” a model to make predictions; to draw conclusions; to get to the very meaning of 
                                        the messy data that stands before us. That’s the essence of machine learning. This is no 
                                        longer a project locked within the bowels of Microsoft Research – it’s morphed into an 
                                        everyday utility we can use from a modern web browser.

                                        We’ll show you practical step-by-step demonstrations of how to create machine learning 
                                        models, expose them as APIs and incorporate them in to your own apps.  You’ll walk away 
                                        from the session with enough knowledge to fire up your first machine learning experiment.
                                    </p>
                                    </p>
                                </div>
                            </div>

                            <div class="module session">
                                <div class="session__avatars clear">
                                    <div class="avatar session__avatar">
                                        <img alt="Image of speaker, bianca Furtuna"
                                             src="images/bianca-futuna-md.jpg">
                                    </div>
                                </div>
                                <div class="session__content">
                                    <h3 class="session__title">Dealing with the data created by IOT</h3>
                                    <p class="subtitle session__presenters">
                                        <a title="Twitter account for speaker, Bianca Furtuna"
                                           href="https://twitter.com/Fur_Bi">Bianca Furtuna</a>
                                    </p>
                                    <p class="session__description">
                                        Bianca Furtuna is currently focusing on IoT at Microsoft. Bianca finished a degree in Electrical and Electronic Engineering and her main interests during her studies were in the fields of Artificial Intelligence and Machine Learning, Control Systems and Signal Processing. <br /><br /><b>Abstract: </b>

                                        Azure Event Hub is a managed service which provides telemetry ingestion from a variety of data sources. Sensors, devices, mobile apps, web apps can send data to this service to facilitate the implementation of an IoT solution. This talk is going to show how to send data to Event Hub from JavaScript.

                                    </p>
                                </div>
                            </div>

                            <div class="module session">
                                <div class="session__avatars clear">
                                    <div class="avatar session__avatar">
                                        <img alt="Image of speaker, Andrea Giammarchi"
                                             src="images/andrea-giammarchi-md.jpg">
                                    </div>
                                </div>
                                <div class="session__content">
                                    <h3 class="session__title">ES6 Now: The Good, The Bad, and The Hype</h3>
                                    <p class="subtitle session__presenters">
                                        <a title="Twitter account for speaker, Andrea Giammarchi"
                                           href="https://twitter.com/WebReflection">Andrea Giammarchi</a>
                                    </p>
                                    <p class="session__description">
                                        Andrea Giammarchi has been promoting Web Standards and best practices as active contributor in different mailing lists and Open Source projects.
                                        <br /><br /> During his career Andrea has been mainly focused on Mobile Web and Performance development, passing through companies such Nokia, Facebook, and ultimately Twitter.
                                     </p>  
                                    <p><b>Abstract:</b>
                                        ES6/2015 is full of goodies and many developers went instantly all-in. 
                                        This talk will explain through examples and some live coding less 
                                        known problems about adopting ES6 today: what makes sense, what is 
                                        actually an anti-pattern, and what has been possible since about ever 
                                        but never embraced due lack of hype. Learn some revealing "behind-the-scene" 
                                        for transpilers and what developers should do in order to improve code quality, 
                                        potentials, and reliability.
                                    </p>

                                  
                                </div>
                            </div>

                           

                            <div class="module session">
                                <div class="session__avatars clear">
                                    <div class="avatar session__avatar">
                                        <img alt="Image of speaker, Remy Sharp"
                                             src="images/remy-sharp-md.jpg">
                                    </div>
                                </div>
                                <div class="session__content">
                                    <h3 class="session__title">The toxic side of free. Or: how I lost the love for my side project</h3>
                                    <p class="subtitle session__presenters">
                                        <a title="Twitter account for speaker, Remy Sharp"
                                           href="https://twitter.com/rem">Remy Sharp</a>
                                    </p>
                                    <p class="session__description">
                                        <p><a href="http://twitter.com/rem">Remy</a> is the founder and curator of 
                                        <a href="http://full-frontal.org">Full Frontal</a>, the UK based JavaScript conference. 
                                        He also ran <a href="http://jqueryfordesigners.com">jQuery for Designers</a>, co-authored <a href="http://introducinghtml5.com">Introducing HTML5</a> (adding all the JavaScripty bits) and likes to grumble on Twitter.</p>
                                    <p>Whilst he&#39;s not <a href="http://remysharp.com">writing articles</a> or running and <a href="http://lanyrd.com/people/rem/">speaking at conferences</a>, he runs his own development and training company in Brighton called <a href="http://leftlogic.com">Left Logic</a>. 
                                    And he built these too: <a href="https://confwall.com">Confwall</a>, 
                                    <a href="http://jsbin.com">jsbin.com</a>, 
                                    <a href="http://html5demos.com">html5demos.com</a>, 
                                    <a href="http://remote-tilt.com">remote-tilt.com</a>, 
                                    <a href="http://responsivepx.com">responsivepx.com</a>, 
                                    <a href="https://github.com/remy/nodemon">nodemon</a>, 
                                    <a href="https://github.com/remy/inliner">inliner</a>, 
                                    <a href="http://mit-license.org">mit-license.org</a>,
                                     <a href="http://snapbird.org">snapbird.org</a>, 
                                    <a href="http://5minfork.com">5 minute fork</a> and <a href="http://jsconsole.com">jsconsole.com</a>!</p>
                                    <p><b>Abstract: </b>

                                        Remy will be talking about his side project <a href="http://jsbin.com">jsbin.com</a> and the 
                                        lessons he has learnt developing a side project from a small idea into one of the worlds largest and most
                                        respected JavaScript code sharing sites.
                                    </p>
                                </div>
                            </div>

                            <div class="module session">
                                <div class="session__avatars clear">
                                    <div class="avatar session__avatar">
                                        <img alt="Image of speaker, Steve Sanderson"
                                             src="images/steve-sanderson-md.jpg">
                                    </div>
                                </div>
                                <div class="session__content">
                                    <h3 class="session__title">Tomorrow's World of Web Development</h3>
                                    <p class="subtitle session__presenters">
                                        <a title="Twitter account for speaker, Steve Sanderson"
                                           href="https://twitter.com/stevensanderson">Steve Sanderson</a>
                                    </p>
                                    <p class="session__description">
                                        Steve is the developer behind Knockout.js an implementation of the MVVM pattern in JavaScript. Originally from the mighty steel city of Sheffield, Steve studied Mathematics at Cambridge and now lives in Bristol working remotely for Microsoft in the US.
                                        <br /><br /><b>Abstract: </b>

                                        With just 5 years to go until The Future™ officially starts in 2020, it's time to pull on your lycra-and-tinfoil onesie, pick out the colour of your hovercar, and consider the technologies you'll use for your upcoming web projects.
                                        <br /><br />
                                        Thanks to a temporal wormhole triggered by a freak SharePoint misconfiguration, I can exclusively reveal the architecture of a web app designed several years in the future. Some of it is predictable ES6/7 stuff - web components, shadow DOM, etc. - but then it gets into metaprogramming, cross-compilation from native code, advanced parallelism techniques, layout *without* CSS, and more. <br /><br />                                        In this demo-centric session I'll show you each of these likely upcoming web technologies. Most of them are impossible (or at least downright irresponsible) to use in production web apps today, but seeing them in action will give you a sense of the possibilities that may soon open up.


                                    </p>
                                </div>
                            </div>

                            <div class="module session">
                                <div class="session__avatars clear">
                                    <div class="avatar session__avatar">
                                        <img alt="Image of speaker, Andreas Bovens"
                                             src="images/andreas-bovens-md.jpg">
                                    </div><div class="avatar session__avatar">

                                        <img alt="Image of speaker, Martin Kearn"
                                             src="images/martin-kearn-md.jpg">
                                    </div>
                                </div>
                                <div class="session__content">
                                    <h3 class="session__title">Installable Web Apps</h3>
                                    <p class="subtitle session__presenters">
                                        <a title="Twitter account for speaker, Andreas Bovens"
                                           href="https://twitter.com/andreasbovens">Andreas Bovens</a>, <a title="Twitter account for speaker, Martin Kearn"
                                                                                                         href="https://twitter.com/martinkearn">Martin Kearn</a>
                                    </p>
                                    <p class="session__description">
                                        Andreas started working for Opera Software as a QA engineer and web evangelist in Tokyo, and then led and built up Opera’s developer relations team from Oslo. During the last two years, he's been browser extensions product manager, and since March, he's product manager of Opera's browser for Android.<br /><br />Martin Kearn is a web developer at Microsoft who helps partners build apps and sites.
                                        <br /><br /><b>Abstract: </b>

                                        In this session, Andreas will give an introduction to installable web apps and 
                                        how easy it is to create and deploy them.<br />
                                        Martin will be demoing Manifold.js, a way to build cross platform Installable 
                                        web apps today, using polyfils to enable support for platforms that 
                                        don’t support the standard natively.


                                    </p>
                                </div>
                            </div>

                            <div class="module session">
                                <div class="session__avatars clear">
                                   <div class="avatar session__avatar">
                                        <img alt="Image of speaker, Peter Müller"
                                             src="images/peter-muller-md.jpg">
                                    </div>
                                </div>
                                <div class="session__content">
                                    <h3 class="session__title">Making development workflows simple</h3>
                                    <p class="subtitle session__presenters">
                                        <a title="Twitter account for speaker, Peter Müller"
                                           href="https://twitter.com/_munter_">Peter Müller</a>
                                    </p>
                                    <p class="session__description">
                                        Peter Müller has spent the last decade building frontends for large web applications in a
                                        multitude of frameworks, libraries and techniques. He is currently employed by Citrix as a
                                        frontend lead on the Podio product. His open source portfoilo circles around tooling for web
                                        developer workflows with a sharp focus on simplicity and high degrees of automation. In
                                        what spare time that is left Peter organizes CopenhagenJS, plays board games and enjoys
                                        the fruits of culinary Copenhagen. He is also known to drink beer and write satirical
                                        songs about politics and technology, usually in that order.
                                    </p> 
                                    <p>
                                        <b>Abstract:</b>In a world of ever-increasing complexity in compilers, build systems, 
                                    tests and tools that all have to integrate with each other, it seems that developers have 
                                    lost their intuition of what is simple. Getting into web development has never had a steeper 
                                    learning curve and nobody seems to be addressing the fact that this might hurt our community 
                                    in the long run by scaring newcomers.</p>
                                    <p>
                                        In this talk, I will focus on precompilers and transpilers and the workflow and tooling 
                                        around them. I want to bring us closer to a more comprehensible abstraction and a simpler 
                                        API that will let the current and future generations of web developers focus on the work, 
                                        rather than the tools.
                                    </p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- SCHEDULE --><section class="section section--banner section--summit-schedule" id="schedule" role="region">
                <div class="container">
                    <div class="section__header">
                        <h2>Schedule</h2>
                        <h3>Session times subject to change.</h3>
                    </div>
                    <table class="summit-schedule__panel__table">
                        <thead>
                            <tr>
                                <th scope="col">Friday 26th of June</th>
                                <th scope="col"></th>
                            </tr>
                        <tbody>
                            <tr>
                                <td scope="row">8:30 – 9:30</td>
                                <td class="cell--social" colspan="3">Registration</td>
                            </tr>
                            <tr>
                                <td scope="row">09:30 - 10:15 </td>
                                <td class="cell--social" colspan="2">
                                    Innovation vs. Impatience
                                </td>
                                <td class="cell--social" colspan="1">
                                    Chris Heilmann 
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">10:15 - 11:00 </td>
                                <td class="cell--social" colspan="2">
                                    ES6 Now: The Good, The Bad, and The Hype
                                </td>
                                <td class="cell--social" colspan="1">
                                    Andrea Giammarchi
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">11:00 - 11:15 </td>
                                <td class="cell--social" colspan="3">Break </td>
                            </tr>
                            <tr>
                                <td scope="row">11:15 - 11:50  </td>
                                <td class="cell--social" colspan="2">Making development workflows simple</td>
                                <td class="cell--social" colspan="1">Peter Müller </td>
                            </tr>
                            <tr>
                                <td scope="row">11:50 - 12:05</td>
                                <td class="cell--social" colspan="2">Dealing with the data created by IOT </td>
                                <td class="cell--social" colspan="1">Bianca Furtuna </td>
                            </tr>
                            <tr>
                                <td scope="row">12:05 - 12:45   </td>
                                <td class="cell--social" colspan="2">Installable Web Apps </td>
                                <td class="cell--social" colspan="1">Andreas Bovens, Martin Kearn</td>
                            </tr>
                            <tr>
                                <td scope="row">12:45 - 13:30   </td>
                                <td class="cell--social" colspan="3">Lunch Break </td>
                            </tr>
                            <tr>
                                <td scope="row">13:30 - 14:15     </td>
                                <td class="cell--social" colspan="2">The toxic side of free. Or: how I lost the love for my side project</td>
                                <td class="cell--social" colspan="1">Remy Sharp</td>
                            </tr>
                            <tr>
                                <td scope="row">14:15 - 15:00     </td>
                                <td class="cell--social" colspan="2">Predicting the Future with Azure Machine Learning </td>
                                <td class="cell--social" colspan="1">Amy Nicholson</td>
                            </tr>
                            <tr>
                                <td scope="row">15:00 - 15:15      </td>
                                <td class="cell--social" colspan="3">Afternoon Break  </td>
                            </tr>
                            <tr>
                                <td scope="row">15:15 - 16:15       </td>
                                <td class="cell--social" colspan="2">Tomorrow's World of Web Development </td>
                                <td class="cell--social" colspan="1">Steve Sanderson </td>
                            </tr>
                            <tr>
                                <td scope="row">16:15 - 16:30      </td>
                                <td class="cell--social" colspan="3">Closing</td>                               
                            </tr>               
                            <tr>
                                <td scope="row">16:30 - 17:30</td>
                                <td class="cell--social" colspan="3">Networking </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </section>
            <footer class="footer" role="contentinfo">
                <div class="container">
                    <small class="copyright caption">
                        © 2015
                        Microsoft
                    </small>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

</body>
</html>

